.git
.git/**
results/
build/
build-*/
dist/
toolchains/
vortex-gpu/vxbuild/
vortex-gpu/build*/
gem5/
coralnpu/
vortex-gpu/vortex/
**/__pycache__/
*.pyc
*.vcd
*.fst
*.fsdb
*.log
*.swp
*.swo
.cache/
.venv/
venv/
